<header>
      <div class="header-up">
      </div>
            <div class="header-dawn">
                  
                  <div class="conteiner">
                        <div class="row">
                                    <img src="../assets/images/logoIcamara_img.png" id="icon" alt="User Icon">
                              <div class="con-ti">

                                    <p class="text-up">Aprobaciones externas</p>
                                    <p class="text-dawn">Bienvenido(a): {{ this.obtenerNombre() }}</p>
                                    
                              </div>
                              <img src="\assets\images\img.id.png" alt="Diseño" id="im-d">
                        </div>
                  </div>
            </div>
</header>