<footer id="footer-body">
    <div class="conteiner">
        <div class="row">
            <div class="conte-01">
                <a href="https://ccb.sharepoint.com/sites/icamaraccb/Paginas/cuatro-digitos-que-pueden-salvar-vidas.aspx">
                    <img src="..\assets\images\LineasEmergencia_ico.png" alt="ic-merci" class="li-emerge">Líneas de emergencia</a>
                
                <a  href="">Términos y condiciones</a>
                <p >Todos los derechos reservados</p>
                </div>
    
    <div class="ter-link col-xl-7" >
                <a href="">Reglas en redes sociales</a>
                <a  href="">Ley de transparencia</a> 
                <a  href="">Protección de datos personales</a>
                <a  href="">Protocolo de emergencia </a>
            </div>
    <div class="social" >
        <div class="star">
        <p>¡Síguenos!</p>
        <a href="http://" ><img src="assets\images\imglink\Facebook_ico.png" alt=""></a>
        <a href="http://" ><img src="assets\images\imglink\Instagram_ico.png" alt=""></a>
        <a href="http://" ><img src="assets\images\imglink\X_ico.png" alt=""></a>
        <a href="http://" ><img src="assets\images\imglink\Linkedin_ico.png" alt=""></a>
        <a href="http://" ><img src="assets\images\imglink\Tiktok_ico.png" alt=""></a>
        </div>
                <div class="end" >
                <p>Cámara de Comercio de Bogotá, 2023.</p>
                </div>
        </div> 
        </div>
    </div>
    
</footer>